/node_modules
package-lock.json
Game/dist
/Game.d.ts
/Game.d.ts.map
/Game.js
/Game.js.map
/behaviorView
/editorAsset
/GameCreator
/GameCreatorLib
Game/tsconfig.ts
/buildinfo
/app.d.ts.map
/app.js
/app.js.map
/app.d.ts
app.tsbuildinfo
/index.html
out
yarn.lock
/release
/bin_release
/dist
/icon
/publish
/scripts
/icon.png